@use "@/styles/shared" as *;

.main-heading {
	font-size: var(--fs-h2);
}

.details {
	text-align: left;
}

.details-instructions {
	margin-top: 2rem;
	text-align: left;

}
.button-wrapper {
	display: grid;
	gap: 1rem;
	width: 100%;
}

.project-wrapper {
	text-align: left;
	display: grid;
	gap: 1.5rem;
}

.logo-wrapper {
	display: flex;
	height: 4rem;
	gap: 2rem;
}

.link-wrapper {
	display: flex;
	gap: 1rem;
	a {
		z-index: 30;
	}
}

.card {
	width: 100%;
	border-radius: 1rem;
	overflow: hidden;
	min-height: 31rem;
}

.card,
.card-content,
.card-image-wrapper {
	height: 100%;
}

.card-flip-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	cursor: pointer;
}

.card-content {
	width: 100%;
	position: relative;
	transition: all 0.3s linear;
	transform-style: preserve-3d;
}
.card-content.open {
	transform: rotateX(0.5turn);
}

.card-front,
.card-back {
	height: 100%;
	width: 100%;
	position: absolute;
	backface-visibility: hidden;
}

.card-front {
	isolation: isolate;
}

.card-back {
	padding: 2.5rem 1rem;
	background: hsl(var(--clr-neutral-800));
	transform: rotateX(0.5turn);
	min-height: 100%;
	z-index: 25;
	overflow-y: auto;

	.button-wrapper {
		grid-auto-flow: column;
		text-align: center;
		z-index: 100;
	}
}

.project-image {
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.more-info-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-weight: 600;
	font-size: 1.75rem;
	color: red;
	width: 2.5rem;
	border: none;
	background: transparent;
	z-index: 2;
	isolation: isolate;
	cursor: pointer;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		margin: auto;
		width: 2rem;
		background-color: hsl(var(--clr-neutral-100));
		z-index: -1;
		border-radius: 50%;
		aspect-ratio: 1;
		transition: all 0.3s ease-in-out;
	}
}

@media (hover: hover) {
	.card:hover .more-info-button {
		opacity: 0.5;
	}
}
.pagination-wrapper {
	position: absolute;
	display: flex;
	gap: 0.5rem;
	bottom: 1rem;
	left: 50%;
	place-content: center;

	padding: 0.5rem 1rem;
	transform: translateX(-50%);
	background-color: hsl(var(--clr-neutral-900), 0.3);
	border-radius: 100vw;
	height: min-content;
	z-index: 20;
}

.pagination-indicator {
	border: none;
	width: 0.625rem;
	aspect-ratio: 1;
	background-color: hsl(var(--clr-neutral-100), 0.2);
	border-radius: 50%;
	transition: all 0.25s ease-in-out;

	&.active {
		background-color: hsl(var(--clr-neutral-100));
	}

	&:hover {
		background-color: hsl(var(--clr-neutral-100), 0.5);
	}
}